{% extends 'base.html.twig' %}

{% block title %}Ma boutique - {{ 'profile.order.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'profile.order.h1'|trans }}</h1>
<div>
    {% for order in orders %}
            <div class="container" style="border: 1px solid black; margin:30px auto; ;border-radius: 5px; padding: 10px;">
                <small>{{'profile.order.ordered-the'|trans}}: {{ order.createdAt|date('d/m/Y') }} - {{ 'profile.order.id-of-the-order'|trans }}: {{ order.id }}</small>
                <p><a href="{{ path('app_profile_show_order', {'id': order.id}) }}">{{ 'profile.order.see-the-order'|trans }}</a></p>
                {% set total = 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{'profile.order.product-name'|trans}}</th>
                        <th>{{'profile.order.product-image'|trans}}</th>
                        <th>{{'profile.order.product-price'|trans}}</th>
                        <th>{{'profile.order.product-subtotal'|trans}}</th>
                        <th>{{'profile.order.product-quantity'|trans}}</th>
                    </tr>
                    </thead>
                    <tbody>
                {% for product in order.getShoppingBaskets() %}
                    <tr>
                        <td>{{ product.product.name }}</td>
                        <td><img src="{{ asset('uploads/' ~ product.product.image) }}" style="width: 200px;"></td>
                        <td>{{ product.product.price / 100|round(2) }}$</td>
                        <td>{{ (product.product.price * product.quantity) / 100|round(2) }}$</td>
                        <td>{{ product.quantity }}</td>
                    {% set total = total + (product.product.price * product.quantity) %}
                    </tr>
                {% endfor %}
                    </tbody>
                    </thead>
                </table>
                {{'profile.order.total'|trans}}: {{ total / 100|round(2) }}$</div>
            </div>
        <div>
    {% else %}
        <div>{{'profile.order.there-is-no-order'|trans}}.</div>
    {% endfor %}
</div>
{% endblock %}