{% extends 'base.html.twig' %}

{% block title %}Ma boutique - Mes commandes{% endblock %}

{% block body %}
    <h1>Mes commandes</h1>
<div>
    {% for order in orders %}
            <div class="container" style="border: 1px solid black; margin:30px auto; ;border-radius: 5px; padding: 10px;">
                <small>Commande passée le: {{ order.createdAt|date('d/m/Y') }}</small>
                <p><a href="{{ path('app_profile_show_order', {'id': order.id}) }}">Voir la commande</a></p>
                {% set total = 0 %}
                {% for product in order.getShoppingBaskets() %}
                    <h4>{{ product.product.name }}</h4>
                    <img src="{{ asset('uploads/' ~ product.product.image) }}" style="width: 200px;">
                    <p>Prix de l'article: {{ product.product.price / 100|round(2) }}$ {% if product.quantity > 1 %}- Prix total: {{ (product.product.price * product.quantity) / 100|round(2) }}${% endif %} - Quantité: {{ product.quantity }}</p>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
                Total de la commande: {{ total / 100|round(2) }}$</div>
            </div>
        <div>
    {% else %}
        <div>Vous n'avez pas encore passé de commande.</div>
    {% endfor %}
</div>
{% endblock %}