{% extends 'base.html.twig' %}

{% block title %}{{'security.login.title'|trans}}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            {{ 'security.login.already-logged'|trans }} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{ 'security.login.logout'|trans }}</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{{ 'security.login.pls-sign-in'|trans }}</h1>
    <label for="inputEmail">{{ 'security.login.email'|trans }}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">{{ 'security.login.password'|trans }}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        {{ 'security.login.sign-in'|trans }}
    </button>
</form>

    <p>{{ 'security.login.no-account'|trans }}, <a href="{{ path('app_register') }}">{{ 'security.login.register'|trans }}</a>  !</p>
{% endblock %}
