{% extends 'base.html.twig' %}

{% block title %}{{ 'my-shop'|trans }} - {{ 'admin.h1'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'admin.h1'|trans }}</h1>
    <div>
    {% for basket in baskets %}
        <div class="container" style="border: 1px solid black; margin:30px auto; ;border-radius: 5px; padding: 10px;">
            <small>{{ 'admin.command-id'|trans }}: {{ basket.id }} - {{ 'cart-of'|trans }}: {{ basket.user.firstname }} {{ basket.user.lastname }}</small>
            {% set total = 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'admin.name-of-the-article'|trans }}</th>
                    <th>{{ 'admin.image'|trans }}</th>
                    <th>{{ 'admin.price'|trans }}</th>
                    <th>{{ 'admin.sub-total'|trans }}</th>
                    <th>{{ 'admin.quantity'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for product in basket.getShoppingBaskets() %}
                    <tr>
                        <td>{{ product.product.name }}</td>
                        <td><img src="{{ asset('uploads/' ~ product.product.image) }}" style="width: 200px;"></td>
                        <td>{{ product.product.price / 100|round(2) }}$</td>
                        <td>{{ (product.product.price * product.quantity) / 100|round(2) }}$</td>
                        <td>{{ product.quantity }}</td>
                        {% set total = total + (product.product.price * product.quantity) %}
                    </tr>
                {% endfor %}
                </tbody>
                </thead>
            </table>
            {{ 'admin.total-price'|trans }}: {{ total / 100|round(2) }}$</div>
        </div>
    {% else %}
        <div>{{'admin.there-is-no-cart'|trans}}.</div>
    {% endfor %}


    <h2>{{ 'admin.h2'|trans }}</h2>

<table class="table">
    <thead>
    <tr>
        <th>{{ 'admin.user-id'|trans }}</th>
        <th>{{ 'admin.user-firstname'|trans }}</th>
        <th>{{ 'admin.user-lastname'|trans }}</th>
        <th>{{ 'admin.user-email'|trans }}</th>
        <th>{{ 'admin.user-role'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roles[0] }}</td>
        </tr>
    {% else %}
        <div>{{ 'admin.no-users'|trans }}</div>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
