{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <h2>{{ 'product.index.h2'|trans }}</h2>
        {{ include('product/_form.html.twig') }}
    {% endif %}

    <h1>{{ 'product.index.h1'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'product.index.product-name'|trans }}</th>
                <th>{{ 'product.index.product-description'|trans }}</th>
                <th>{{ 'product.index.product-price'|trans }}</th>
                <th>{{ 'product.index.product-image'|trans }}</th>
                <th>{{ 'product.index.action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price / 100|round(2) }} $</td>
                <td>
                    {% if product.image is not empty %}
                        <img src="{{ asset('uploads/' ~ product.image) }}" style="width: 200px;">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn-primary btn">{{ 'show'|trans }}</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn-warning btn">{{ 'edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{'product.index.no-article'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
