{% extends 'base.html.twig' %}

{% block title %}{{ 'my-shop'|trans }} - {{ 'product.show.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'product.show.h1'|trans }}</h1>

    <a href="{{ path('app_product_index') }}" class="btn-primary btn">{{'back'|trans}}</a>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'product.show.product-name'|trans }}</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>{{ 'product.show.product-description'|trans }}</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>{{ 'product.show.product-price'|trans }}</th>
                <td>{{ product.price / 100|round(2) }}$</td>
            </tr>
            <tr>
                <th>{{ 'product.show.product-image'|trans }}</th>
                <td>
                    {% if product.image is not empty %}
                        <img src="{{ asset('uploads/' ~ product.image) }}">
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <h2>{{ 'product.show.add-product'|trans }}</h2>

    {% if product.stock > 0 %}
        {{ form(formShoppingBasket) }}
    {% else %}
        <div>{{ 'product.show.no-stock'|trans }}.</div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <div style="display: flex; justify-content: space-between;margin-bottom: 50px;">
        <div>
            <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn-warning btn">{{ 'edit'|trans }}</a>
        </div>
        <div>
        {{ include('product/_delete_form.html.twig') }}
        </div>
        </div>
    {% endif %}
{% endblock %}
