{% extends 'base.html.twig' %}

{% block title %}{{ 'my-shop'|trans }} - {{ 'basket.index.my-cart'|trans }}{% endblock %}

{% block body %}

    {% if products is empty %}
        <h2>{{ 'basket.index.there-is-no-product'|trans}}</h2>
    {% else %}
        <h1>{{ 'basket.index.my-cart'|trans}}</h1>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'basket.index.product-name'|trans}}</th>
            <th>{{ 'basket.index.product-price'|trans}}</th>
            <th>{{ 'basket.index.product-image'|trans}}</th>
            <th>{{ 'basket.index.product-quantity'|trans}}</th>
            <th>{{ 'basket.index.action'|trans}}</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for product in products %}
            <tr>
                <td>{{ product.product.name }}</td>
                <td>{{ product.product.price / 100|round(2) }} $ {% if product.quantity > 1 %} - <small>{{ (product.product.price * product.quantity) / 100|round(2) }} $</small>{% endif %}</td>
                <td>
                    {% if product.product.image is not empty %}
                        <img src="{{ asset('uploads/' ~ product.product.image) }}" style="width: 200px;">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_basket_change', {'id':product.id, 'change': 'minus'}) }}">-</a>
                    {{ product.quantity }}
                    <a href="{{ path('app_basket_change', {'id':product.id, 'change': 'add'}) }}">+</a>
                </td>
                <td>
                    <a href="{{ path('app_basket_change', {'id':product.id, 'change': 'remove'}) }}" class="btn-primary btn">{{ 'basket.index.delete'|trans}}</a>
                </td>
            </tr>
            {% set total = total + product.product.price * product.quantity %}
        {% endfor %}
        </tbody>
        </table>
        <h4>{{ 'basket.index.total'|trans}}: {{ total / 100|round(2) }}$</h4>
        <a href="{{ path('app_basket_buy') }}" class="btn btn-primary">{{ 'basket.index.buy'|trans}}</a>
    {% endif %}




{% endblock %}
