{% extends 'base.html.twig' %}

{% block title %}Ma boutique - Mon panier{% endblock %}

{% block body %}

    {% if products is empty %}
        <h2>Vous n'avez aucun produit dans votre panier</h2>
    {% else %}
        <h1>Mon panier</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Quantité</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for product in products %}
            <tr>
                <td>{{ product.product.name }}</td>
                <td>{{ product.product.price / 100|round(2) }} $ {% if product.quantity > 1 %} - <small>{{ (product.product.price * product.quantity) / 100|round(2) }} $</small>{% endif %}</td>
                <td>
                    {% if product.product.image is not empty %}
                        <img src="{{ asset('uploads/' ~ product.product.image) }}" style="width: 200px;">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_basket_change', {'id':product.id, 'change': 'minus'}) }}">-</a>
                    {{ product.quantity }}
                    <a href="{{ path('app_basket_change', {'id':product.id, 'change': 'add'}) }}">+</a>
                </td>
                <td>
                    <a href="{{ path('app_basket_change', {'id':product.id, 'change': 'delete'}) }}">Supprimer</a>
                </td>
            </tr>
            {% set total = total + product.product.price * product.quantity %}
        {% endfor %}
        </tbody>
        </table>
        <h4>Total: {{ total / 100|round(2) }}$</h4>
        <a href="{{ path('app_basket_buy') }}" class="btn btn-primary">ACHETER</a>
    {% endif %}




{% endblock %}
